DB_HOST=localhost
DB_PORT=5432
DB_NAME=saveur221
DB_USER=postgres
DB_PASSWORD=

APP_ENV=development

CLOUDINARY_CLOUD_NAME=ton_cloud_name
CLOUDINARY_API_KEY=ta_cle_api
CLOUDINARY_API_SECRET=ton_secret_api